In [43]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('BPD_Part_1_Victim_Based_Crime_Data.csv')
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1

In [3]:
df.shape

(276529, 15)

## Time stamps

Convert strings for date and time to time stamps and create datetime stamp

In [4]:
type(df['CrimeDate'][0])

str

In [5]:
type(df['CrimeTime'][0])

str

Fix one bad time stamp

In [9]:
df.loc[df.CrimeTime == '24:00:00', 'CrimeTime'] = '00:00:00'

In [12]:
df['CrimeDateTime'] = df['CrimeDate'] + ' ' + df['CrimeTime']

In [13]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents,CrimeDateTime
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1,09/02/2017 23:30:00
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1,09/02/2017 23:00:00
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1,09/02/2017 22:53:00
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1,09/02/2017 22:50:00
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1,09/02/2017 22:31:00

In [14]:
df['CrimeDate'] = pd.to_datetime(df['CrimeDate'])

In [15]:
df['CrimeTime'] = pd.to_datetime(df['CrimeTime'],format= '%H:%M:%S' ).dt.time

In [16]:
df['CrimeDateTime'] = pd.to_datetime(df['CrimeDateTime'])

In [17]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents,CrimeDateTime
0,2017-09-02,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1,2017-09-02 23:30:00
1,2017-09-02,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1,2017-09-02 23:00:00
2,2017-09-02,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1,2017-09-02 22:53:00
3,2017-09-02,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1,2017-09-02 22:50:00
4,2017-09-02,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1,2017-09-02 22:31:00

## Inside/Outside Coding

Fix inconsistent coding of `Inside/Outside` column. Both I/O and Inside/Outside are used in original dataset

In [21]:
df['Inside/Outside'].value_counts()

I          131999
O          129782
Outside      3837
Inside        632
Name: Inside/Outside, dtype: int64

In [22]:
df.loc[df['Inside/Outside'] == 'I', 'Inside/Outside'] = 'Inside'
df.loc[df['Inside/Outside'] == 'O', 'Inside/Outside'] = 'Outside'
df['Inside/Outside'].value_counts()

Outside    133619
Inside     132631
Name: Inside/Outside, dtype: int64

## Check other categories

`Description`, `Weapon`, and `District` seems to have clear categories. `Neighborhood` has 278 distinct values  with some containing a `/`.

In [20]:
df['Description'].value_counts()

LARCENY                 60528
COMMON ASSAULT          45518
BURGLARY                42538
LARCENY FROM AUTO       36295
AGG. ASSAULT            27513
AUTO THEFT              26838
ROBBERY - STREET        17691
ROBBERY - COMMERCIAL     4141
ASSAULT BY THREAT        3503
SHOOTING                 2910
ROBBERY - RESIDENCE      2866
RAPE                     1637
HOMICIDE                 1559
ROBBERY - CARJACKING     1528
ARSON                    1464
Name: Description, dtype: int64

In [23]:
df['Weapon'].value_counts()

HANDS      48995
FIREARM    22312
OTHER      14620
KNIFE       9650
Name: Weapon, dtype: int64

In [24]:
df['District'].value_counts()

NORTHEASTERN    43006
SOUTHEASTERN    38291
SOUTHERN        31850
NORTHERN        31665
CENTRAL         31631
NORTHWESTERN    28061
SOUTHWESTERN    26092
EASTERN         23635
WESTERN         22218
Name: District, dtype: int64

In [25]:
df['Neighborhood'].value_counts()

Downtown                     9048
Frankford                    6642
Belair-Edison                5977
Brooklyn                     4516
Cherry Hill                  4086
Sandtown-Winchester          4026
Canton                       3787
Inner Harbor                 3414
Upton                        3385
Patterson Park Neighborho    3368
Fells Point                  3316
Coldstream Homestead Mont    3307
Hamilton Hills               3303
Mondawmin                    3251
Washington Village/Pigtow    3223
McElderry Park               3004
Central Park Heights         2960
Mount Vernon                 2751
Broadway East                2741
Carrollton Ridge             2653
Hampden                      2524
East Baltimore Midway        2460
Reservoir Hill               2426
Oliver                       2376
Ellwood Park/Monument        2364
Mid-Town Belvedere           2362
Harlem Park                  2172
Charles Village              2158
Baltimore Highlands          2104
Better Waverly               2028
                             ...
Johns Hopkins Homewood        170
Cedarcroft                    166
Belair-Parkside               160
Oaklee                        156
Hawkins Point                 148
Sabina-Mattfeldt              144
Purnell                       138
Wrenlane                      126
Dickeyville                   113
Holabird Industrial Park      107
Evergreen                     106
Loyola/Notre Dame              97
Forest Park Golf Course        89
The Orchards                   88
Gwynns Falls/Leakin Park       83
Keswick                        82
Eastwood                       81
Bellona-Gittings               76
Spring Garden Industrial       74
Saint Paul                     67
Curtis Bay Industrial Are      62
Herring Run Park               56
Morgan Park                    46
Lower Herring Run Park         42
Taylor Heights                 40
Villages Of Homeland           37
Greenmount Cemetery            23
Mt Pleasant Park               13
Blythewood                      4
Dundalk Marine Terminal         1
Name: Neighborhood, Length: 278, dtype: int64

## Normalize premise

There are 124 distinct values for `Premise` and some are the same code but with different casing. Cast all strings to upper to reduce distinct values to 119, but further exploration on how to standardize these categories may be necessary

In [30]:
len(df['Premise'].unique())

124

In [31]:
df['Premise'].unique()

array(['ROW/TOWNHO', 'STREET', 'Street', 'RETAIL/SMA', nan, 'YARD',
       'OTHER - IN', 'CONVENIENC', 'OFFICE BUI', 'APT/CONDO',
       'PARKING LO', 'LAUNDRY/CL', 'CARRY OUT', 'HOSP/NURS.',
       'RESTAURANT', 'BAR', 'GARAGE ON', 'ALLEY', 'DRIVEWAY',
       'PORCH/DECK', 'SHED/GARAG', 'TRACTOR TR', 'GAS STATIO',
       'PLAYGROUND', 'BUS/AUTO', 'DRUG STORE', 'PARK', 'GROCERY/CO',
       'CAR LOT-NE', 'SHOPPING M', 'LIQUOR STO', 'CHAIN FOOD',
       'OTHER - OU', 'POLICE DEP', 'CLOTHING/S', 'YARD/BUSIN',
       'SPECIALTY', 'POOL/BOWLI', 'INNER HARB', 'VACANT BUI', 'SCHOOL',
       'OTHER/RESI', 'HOTEL/MOTE', 'DEPARTMENT', 'WAREHOUSE',
       'BUS.  STOR', 'RELIGIOUS', 'Dwelling', 'TAVERN/NIG', 'APARTMENT',
       'BARBER/BEA', 'SINGLE HOU', 'PUBLIC BUI', 'MINI STORA',
       'FAST FOOD', 'DOCTORS OF', 'STADIUM', 'HOUSE UNDE', 'UNKNOWN',
       'Alley', 'BUS/RAILRO', 'LIBRARY', 'CAR  REPAI', 'AUTO PARTS',
       'CONSTRUCTI', 'Parking Lo', 'WHOLESALE/', 'Gas Statio', 'Vehicle',
       'FIRE DEPAR', 'PUBLIC HOU', 'RACE TRACK', 'RECREATION',
       'BUS. PARK', 'BANK/FINAN', 'Common Bus', 'MARKET STA', 'CEMETERY',
       'BLDG UNDER', 'Hospital', 'FINANCE/LO', 'COURT HOUS', 'BAKERY',
       'BOX CARS/C', 'Public Are', 'PAWN SHOP', 'BOAT/SHIP', 'VACANT LOT',
       'CLUB HOUSE', 'HARDWARE/B', 'CONVENTION', 'MAILBOX-ST',
       'SCHOOL PLA', 'SUBWAY', 'ARENA', 'CAB', 'Day Care F', 'Public Hou',
       'PENITENTIA', 'APT. LOCKE', 'JEWELRY ST', 'MANUFACTUR',
       'PIZZA/OTHE', 'THEATRE', 'ATM MACHIN', 'BRIDGE-PIE', 'Vacant Dwe',
       'BOAT YARD', 'NIGHT DEPO', 'STRUCTURE-', 'SALESMAN/C',
       'RENTAL/VID', 'LIGHT RAIL', 'Church', 'RAILROAD C', 'Garage',
       'Public Sch', 'PHOTO STUD', 'UTILITIES-', 'MTA LOT', 'MOBILE HOM',
       'SKYWALK', 'TRUCKING &', 'Private Sc'], dtype=object)

In [37]:
df['Premise'] = df['Premise'].apply(lambda x: str(x).upper())
len(df['Premise'].unique())

119

In [44]:
np.sort(df['Premise'].unique())

array(['ALLEY', 'APARTMENT', 'APT. LOCKE', 'APT/CONDO', 'ARENA',
       'ATM MACHIN', 'AUTO PARTS', 'BAKERY', 'BANK/FINAN', 'BAR',
       'BARBER/BEA', 'BLDG UNDER', 'BOAT YARD', 'BOAT/SHIP', 'BOX CARS/C',
       'BRIDGE-PIE', 'BUS.  STOR', 'BUS. PARK', 'BUS/AUTO', 'BUS/RAILRO',
       'CAB', 'CAR  REPAI', 'CAR LOT-NE', 'CARRY OUT', 'CEMETERY',
       'CHAIN FOOD', 'CHURCH', 'CLOTHING/S', 'CLUB HOUSE', 'COMMON BUS',
       'CONSTRUCTI', 'CONVENIENC', 'CONVENTION', 'COURT HOUS',
       'DAY CARE F', 'DEPARTMENT', 'DOCTORS OF', 'DRIVEWAY', 'DRUG STORE',
       'DWELLING', 'FAST FOOD', 'FINANCE/LO', 'FIRE DEPAR', 'GARAGE',
       'GARAGE ON', 'GAS STATIO', 'GROCERY/CO', 'HARDWARE/B',
       'HOSP/NURS.', 'HOSPITAL', 'HOTEL/MOTE', 'HOUSE UNDE', 'INNER HARB',
       'JEWELRY ST', 'LAUNDRY/CL', 'LIBRARY', 'LIGHT RAIL', 'LIQUOR STO',
       'MAILBOX-ST', 'MANUFACTUR', 'MARKET STA', 'MINI STORA',
       'MOBILE HOM', 'MTA LOT', 'NAN', 'NIGHT DEPO', 'OFFICE BUI',
       'OTHER - IN', 'OTHER - OU', 'OTHER/RESI', 'PARK', 'PARKING LO',
       'PAWN SHOP', 'PENITENTIA', 'PHOTO STUD', 'PIZZA/OTHE',
       'PLAYGROUND', 'POLICE DEP', 'POOL/BOWLI', 'PORCH/DECK',
       'PRIVATE SC', 'PUBLIC ARE', 'PUBLIC BUI', 'PUBLIC HOU',
       'PUBLIC SCH', 'RACE TRACK', 'RAILROAD C', 'RECREATION',
       'RELIGIOUS', 'RENTAL/VID', 'RESTAURANT', 'RETAIL/SMA',
       'ROW/TOWNHO', 'SALESMAN/C', 'SCHOOL', 'SCHOOL PLA', 'SHED/GARAG',
       'SHOPPING M', 'SINGLE HOU', 'SKYWALK', 'SPECIALTY', 'STADIUM',
       'STREET', 'STRUCTURE-', 'SUBWAY', 'TAVERN/NIG', 'THEATRE',
       'TRACTOR TR', 'TRUCKING &', 'UNKNOWN', 'UTILITIES-', 'VACANT BUI',
       'VACANT DWE', 'VACANT LOT', 'VEHICLE', 'WAREHOUSE', 'WHOLESALE/',
       'YARD', 'YARD/BUSIN'], dtype=object)

## Check numeric datatypes

In [47]:
type(df['Longitude'][0])

numpy.float64

In [48]:
type(df['Latitude'][0])

numpy.float64

In [51]:
type(df['Total Incidents'][0])

numpy.int64

## Write out clean .csv

In [53]:
df.to_csv('baltimore_crime.csv', index=False)